{{#link-to 'index'}}<h2 id="title">Welcome to Ember</h2>{{/link-to}}

{{outlet}}

<ul>
  {{#each model as |book|}}
    <li>{{#link-to 'book' book.id}}{{book.title}}{{/link-to}}</li>
  {{/each}}
</ul>


{{#impagination-dataset
  fetch=fetch
  page-size=pageSize
  load-horizon=loadHorizon
  as |records|}}
  <div class="records">Total Records: {{records.length}}</div>
  {{#each records as |record|}}
    <div class="record">Record {{record.content.id}}</div>
  {{/each}}
{{/impagination-dataset}}
